name: Makefile CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install dependencies
      run: ./scripts/prepare_environment.sh debian ubuntu

    - name: Build sources
      run: source env.sh && make && make test

    - name: Run tests
      run: source env.sh && ./scripts/testrunner.sh
      